<div class="navbar navbar-default navbar-fixed-bottom message-bar">
  <div class="chat-container">
    <div class="chat" id="chat">
      {{#each model.messages as |message|}}
        {{#chat-box user=message.user}}
          {{{message.text}}}
        {{/chat-box}}
      {{/each}}

    </div>
    <form>
      <div class="chat-input">
        <div class="">
          {{input class='chat-text' placeholder='Your message' value=textMessageFromInput}}
        </div>
        <div>
          <h3 {{action 'showHideEmotes'}}>e</h3>
        <div id="emote-container" class="hidden">
          {{#each model.emotes as |e|}}
            <div class="emote">
              <div class="tooltip" {{action 'appendEmote' e.name}}><img src="{{e.url}}"><span class="tooltiptext">{{e.name}}</span></div>
            </div>
          {{/each}}
        </div>
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-lg" {{action 'createMessage' textMessageFromInput}}>Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
