<div class="chat-background" style={{darkSetting}}>
  <div class="color-switch">
    <button type="button" class="btn" id="dark" value={{darkSetting}} {{action 'setDarkMode' darkSetting}}>Dark Mode</button>

  </div>


  <div class="chat-container">
    <div class="chat" id="chat">
      {{#each model.messages as |message|}}
        {{#chat-box user=message.user}}
          {{{message.text}}}
        {{/chat-box}}
      {{/each}}

    </div>
    <form>
      <div class="chat-input">
        <div class="textbox">
          {{input class='chat-text' placeholder='Your message' value=textMessageFromInput}}
          <i {{action 'showHideEmotes'}} class="fa fa-smile-o fa-2x" aria-hidden="true">
          </i>
          <div id="emote-container" class="hidden">
            {{#each model.emotes as |e|}}
              <div class="emote">
                <div class="tooltip" {{action 'appendEmote' e.name}}><img src="{{e.url}}"><span class="tooltiptext">{{e.name}}</span></div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="submit-container">
          <button type="submit" class="btn" {{action 'createMessage' textMessageFromInput}}>Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
